.bg-img{
    background-image: url(https://th.bing.com/th/id/OIP.0u2ynz-XDDaq3suwHtC7eQHaEK?rs=1&pid=ImgDetMain);
    height: 100%;
    filter:blur(3px) ;
    -webkit-filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;
}

.netflix{
    position: absolute;
    top: 8px;
    color: red;
    left: 10%;
}

*{
    box-sizing: border-box;
}


.bg-text{
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #000000;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    text-align: left;
}

.bg-edittext{
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    width: 95%;
    border: 1px solid #f1f1f1;
    height: 50px;
    font-size: medium;
}

button{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 240px;
    background-color: red;
    color: white;
    height: 30px;
    font-weight: bold;
    font-size: medium;
}

h5{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

